* {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
}
html {
  font-size: 20px;
}
#collect form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#collect form p {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
input {
  font-size: 1rem;
  padding: 0.2rem 1rem;
}
button {
  background-color: cornflowerblue;
  color: white;
  font-size: 1rem;
  padding: 0.2rem 3rem;
  border: none;
  margin-right: 3rem;
}
#display > p {
  text-align: right;
}
#display table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
}
th,
td {
  text-align: center;
  padding: 0.25rem 1rem;
  border: 1px solid #ccc;
}
tbody > tr:nth-child(odd) {
  background-color: #eee;
}
